<div class="py-5 curved-bottom bg-peach">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1 class="display-4 bold-1">Family Therapy Services</h1>
                <hr class="my-4">
                <p>Actively seeing new patients. Most insurance accepted.</p>
                <a class="btn btn-primary btn-lg" href="#form" role="button">Schedule Now</a>
            </div>
            <div class="col-md-6 d-none d-md-block">
                <%= image_tag("family.png", class:"img-fluid") %>
            </div>
        </div>
    </div>
</div>
<div id="about" class="container py-5">
    <h1 class="text-center">About Me</h1>
    <div class="row align-items-center">
        <div class="col-md-6 offset-md-3">
            My name is Tina Stillwell. I am a dedicated therapist who is committed to client care. I help individuals seek personal growth and development while teaching self-determination. My personal teaching process is about establishing boundaries and setting milestones.
        </div>
    </div>
</div>
<div class="container-fluid bg-purple py-5" id="help">
    <div class="container">
        <h1 class="text-center text-white">Who I help</h1>
        <p class="lead text-center text-white">I specialize in providing mental health services to children and adults in different life situations.</p>
        <div class="row text-white">
            <div class="col-md-6 offset-md-5">
                <ul>
                    <li>Individual Counseling</li>
                    <li>Family Therapy</li>
                    <li>Adults</li>
                    <li>Adolescents</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container py-5">
    <h1 class="text-center">Preparing for your first visit</h1>
    <div class="px-md-5 mx-md-5">
        <ul>
            <li>Each new patient is required to fill out an intake form. They can be downloaded here.</li>
            <li>Please arrive 15 minutes early. Forms may be completed in our office before your appointment time</li>
            <li>During your first session, I will make you feel as comfortably as possible and will ask some basic questions to develop an understanding of your situation and how best to treat it.
            </li>
            <li>At the end of your first session, I will provide you some next steps including a timeline for future sessions as well as tasks to work on while at home. Your second session will dive deeper into the specifics of the issues.</li>
        </ul>
    </div>
</div>
<div class="bg-greylight">
    <div class="container py-5">
        <h1 class="text-center">Contact</h1>
        <p class="text-center">Office Hours: Monday-Saturday, <span class="font-weight-bold">by appointment only</span></p>
        <h3 class="text-center py-2">Request An Appointment</h3>
        <!--  -->
        <%= form_tag("/", method: "get", remote: true, class: 'appt-form m-auto', id: 'form') do %>
        <%= label_tag(:fname, "First Name") %>
        <%= text_field_tag(:fname, nil, id: 'fname', class: 'form-control', required: true) %>
        <%= label_tag(:lname, "Last Name") %>
        <%= text_field_tag(:lname, nil, id: 'lname', class: 'form-control', required: true) %>
        <%= label_tag(:email) %>
        <%= email_field(:user, :email, id: 'email', class: 'form-control', required: true) %>
        <%= label_tag(:phone) %>
        <%= telephone_field(:user, :phone, placeholder: 'xxx-xxx-xxxx', id: 'phone', class: 'form-control', required: true) %>
        <%= submit_tag("Submit", class: 'btn btn-primary btn-block mt-3') %>
        <% end %>
        <!--  -->
        <div id="messages" class="d-none pt-3" role="alert">
            <div class="text-center m-auto alert alert-success mt-5" role="alert">
                Thanks you! We will be in contact shortly.
                <button type="button" class="close btn btn-prime" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$("#form").on("submit", (e) => {
    e.preventDefault();
    const post = $.post( "https://hooks.zapier.com/hooks/catch/2194585/nnpyw0/", $( "#form" ).serialize() );
    post.done( () => {
        $('#messages').removeClass('d-none').slideDown().show();
    });
});
</script>